asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.6
idna==3.4
pygame==2.5.2
requests==2.31.0
selenium==3.141.0
soupsieve==2.5
sqlparse==0.4.4
urllib3==1.26.17
